################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/FluentXml/FluentXml/Fluent.Xml.1.0.0.nupkg
/FluentXml/FluentXml/nuget.exe
/FluentXml/FluentXml/nuget.exe
/FluentXml/FluentXml/nuget.exe
/FluentXml/packages
/FluentXml/.vs/FluentXml
